In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("train_data.csv")
dff = pd.read_csv("test_data.csv")
ss = pd.read_csv("SampleSubmission.csv")
other = pd.read_csv("test_data.csv")

In [4]:
df

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.000000,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.000000,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.000000,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.000000,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.000000,0,V,N,O,R,680.0,1,1800.0,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7155,H5290,2012,1.000000,1,V,V,V,U,NaN,1,2001.0,.,NaN,0
7156,H5926,2013,1.000000,0,V,V,V,U,NaN,2,1980.0,.,NaN,1
7157,H6204,2016,0.038251,0,V,V,V,U,NaN,1,1992.0,.,NaN,0
7158,H6537,2013,1.000000,0,V,V,V,U,NaN,1,1972.0,.,NaN,0
7159,H7470,2014,1.000000,0,V,V,V,U,NaN,1,2004.0,.,NaN,0

In [8]:
dff.shape

(3069, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         7160 non-null   object
 1   YearOfObservation   7160 non-null   int64
 2   Insured_Period      7160 non-null   float64
 3   Residential         7160 non-null   int64
 4   Building_Painted    7160 non-null   object
 5   Building_Fenced     7160 non-null   object
 6   Garden              7153 non-null   object
 7   Settlement          7160 non-null   object
 8   Building Dimension  7054 non-null   float64
 9   Building_Type       7160 non-null   int64
 10  Date_of_Occupancy   6652 non-null   float64
 11  NumberOfWindows     7160 non-null   object
 12  Geo_Code            7058 non-null   object
 13  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.2+ KB

In [10]:
df.isna().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [11]:
df.Garden.value_counts()

O    3602
V    3551
Name: Garden, dtype: int64

In [12]:
df.Garden = df.Garden.fillna(value='O')

In [13]:
df.Garden.isna().sum()

0

In [14]:
building_mean = np.mean(df["Building Dimension"])

In [15]:
building_mean

1883.7275304791608

In [16]:
df["Building Dimension"] = df["Building Dimension"].fillna(value = 1883.7275304791608)

In [17]:
df["Building Dimension"].isna().sum()

0

In [18]:
date_mean = np.mean(df["Date_of_Occupancy"])

In [19]:
date_mean

1964.456404088996

In [20]:
df["Date_of_Occupancy"] = df["Date_of_Occupancy"].fillna(value = 1964.456404088996)

In [21]:
df["Date_of_Occupancy"].isna().sum()

0

In [22]:
df["Geo_Code"].value_counts()

6088     143
33063    137
6083     113
13206     98
31555     87
        ...
59650      1
59656      1
60057      1
60172      1
2B353      1
Name: Geo_Code, Length: 1307, dtype: int64

In [23]:
df["Geo_Code"] = df["Geo_Code"].fillna(value= '6088')

In [33]:
df["Geo_Code"].isna().sum()

0

In [34]:
df.isna().sum()

Customer Id           0
YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Garden                0
Settlement            0
Building Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
Claim                 0
dtype: int64

In [35]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Id         3069 non-null   object
 1   YearOfObservation   3069 non-null   int64
 2   Insured_Period      3069 non-null   float64
 3   Residential         3069 non-null   int64
 4   Building_Painted    3069 non-null   object
 5   Building_Fenced     3069 non-null   object
 6   Garden              3069 non-null   object
 7   Settlement          3069 non-null   object
 8   Building Dimension  3069 non-null   float64
 9   Building_Type       3069 non-null   int64
 10  Date_of_Occupancy   2341 non-null   float64
 11  NumberOfWindows     3069 non-null   object
 12  Geo_Code            3056 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 311.8+ KB

In [36]:
dff.isna().sum()

Customer Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  0
Settlement              0
Building Dimension      0
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

In [37]:
dff.Garden.value_counts()

V    2244
O     825
Name: Garden, dtype: int64

In [38]:
dff.Garden = dff.Garden.fillna(value='V')

In [39]:
building_mean1 = np.mean(dff["Building Dimension"])

In [40]:
building_mean1

1666.7905759162293

In [41]:
dff["Building Dimension"] = dff["Building Dimension"].fillna(value = 1666.7905759162304)

In [42]:
date_mean1 = np.mean(dff["Date_of_Occupancy"])

In [43]:
date_mean1

1966.7817172148655

In [44]:
dff["Date_of_Occupancy"] = dff["Date_of_Occupancy"].fillna(value = 1966.7817172148655)

In [45]:
dff["Geo_Code"].value_counts()

6083     113
6088      95
2B033     74
13206     68
13204     61
        ...
68149      1
29058      1
68062      1
68060      1
74081      1
Name: Geo_Code, Length: 697, dtype: int64

In [46]:
dff["Geo_Code"] = dff["Geo_Code"].fillna(value= '6083')

In [47]:
dff.isna().sum()

Customer Id           0
YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Garden                0
Settlement            0
Building Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
dtype: int64

In [48]:
df.drop("Customer Id", axis = 1, inplace = True)

In [49]:
dff.drop("Customer Id", axis = 1, inplace = True)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7160 non-null   int64
 1   Insured_Period      7160 non-null   float64
 2   Residential         7160 non-null   int64
 3   Building_Painted    7160 non-null   object
 4   Building_Fenced     7160 non-null   object
 5   Garden              7160 non-null   object
 6   Settlement          7160 non-null   object
 7   Building Dimension  7160 non-null   float64
 8   Building_Type       7160 non-null   int64
 9   Date_of_Occupancy   7160 non-null   float64
 10  NumberOfWindows     7160 non-null   object
 11  Geo_Code            7160 non-null   object
 12  Claim               7160 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 727.3+ KB

In [51]:
lab_enc = LabelEncoder()
df["Building_Painted"] = lab_enc.fit_transform(df["Building_Painted"])
df["Building_Fenced"] = lab_enc.fit_transform(df["Building_Fenced"])
df["Garden"] = lab_enc.fit_transform(df["Garden"])
df["Settlement"] = lab_enc.fit_transform(df["Settlement"])
df["NumberOfWindows"] = lab_enc.fit_transform(df["NumberOfWindows"])
df["Geo_Code"] = lab_enc.fit_transform(df["Geo_Code"])



dff["Building_Painted"] = lab_enc.fit_transform(dff["Building_Painted"])
dff["Building_Fenced"] = lab_enc.fit_transform(dff["Building_Fenced"])
dff["Garden"] = lab_enc.fit_transform(dff["Garden"])
dff["Settlement"] = lab_enc.fit_transform(dff["Settlement"])
dff["NumberOfWindows"] = lab_enc.fit_transform(dff["NumberOfWindows"])
dff["Geo_Code"] = lab_enc.fit_transform(dff["Geo_Code"])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7160 non-null   int64
 1   Insured_Period      7160 non-null   float64
 2   Residential         7160 non-null   int64
 3   Building_Painted    7160 non-null   int32
 4   Building_Fenced     7160 non-null   int32
 5   Garden              7160 non-null   int32
 6   Settlement          7160 non-null   int32
 7   Building Dimension  7160 non-null   float64
 8   Building_Type       7160 non-null   int64
 9   Date_of_Occupancy   7160 non-null   float64
 10  NumberOfWindows     7160 non-null   int32
 11  Geo_Code            7160 non-null   int32
 12  Claim               7160 non-null   int64
dtypes: float64(3), int32(6), int64(4)
memory usage: 559.5 KB

In [53]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   3069 non-null   int64
 1   Insured_Period      3069 non-null   float64
 2   Residential         3069 non-null   int64
 3   Building_Painted    3069 non-null   int32
 4   Building_Fenced     3069 non-null   int32
 5   Garden              3069 non-null   int32
 6   Settlement          3069 non-null   int32
 7   Building Dimension  3069 non-null   float64
 8   Building_Type       3069 non-null   int64
 9   Date_of_Occupancy   3069 non-null   float64
 10  NumberOfWindows     3069 non-null   int32
 11  Geo_Code            3069 non-null   int32
dtypes: float64(3), int32(6), int64(3)
memory usage: 215.9 KB

In [54]:
X = df.drop("Claim", axis = 1)
y = df.Claim
test = dff

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 120)

In [58]:
X_train.shape

(5728, 12)

In [59]:
X_test.shape

(1432, 12)

In [60]:
y_train.shape

(5728,)

In [61]:
y_test.shape

(1432,)

In [62]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, f1_score
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression()

In [63]:
linear_predict = linear.predict(X_test)

In [64]:
linear_predict

array([0.33505043, 0.0848828 , 0.12521046, ..., 0.03433311, 0.10068199,
       0.07357787])

In [65]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()
logistic.fit(X_train, y_train)
log_pred = logistic.predict(X_test)


import pickle
filename =  "Log Reg Building Insurance.sav"
pickle.dump(logistic, open(filename, 'wb'))    #to deploy thw beat model

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [66]:
accuracy_score(y_test, log_pred)

0.7751396648044693

In [67]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train, y_train)
tree_pred = tree.predict(X_test)

In [68]:
from sklearn.naive_bayes import GaussianNB

naivemodel = GaussianNB()

naivemodel.fit(X_train, y_train)
na_pred = naivemodel.predict(X_test)
na_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [84]:
accuracy_score(y_test, na_pred)

0.763268156424581

In [85]:
# for SVM model
from sklearn.svm import SVC
SVMmodel = SVC()
SVMmodel.fit(X_train, y_train)
SVM_pred = SVMmodel.predict(X_test)
# f1_score(y_test, SVM_pred) * 100
accuracy_score(y_test, SVM_pred)

0.7737430167597765

In [86]:
# For random forest model
from sklearn.ensemble import RandomForestClassifier
randomforestmodel = RandomForestClassifier()
randomforestmodel.fit(X_train, y_train)
ran_pred = randomforestmodel.predict(X_test)
# f1_score(y_test, ran_pred)*100
accuracy_score(y_test, ran_pred)

0.7716480446927374

# SINCE LOGISTIC REGRESSION GAVE THE BEST ACCURACY SCORE

In [78]:
prediction = logistic.predict(test)

In [80]:
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [81]:
# new_ss["Claim"] = prediction

a = {'Customer Id': other["Customer Id"], 'Claim': prediction}   #to merge a column 
                        
                        

result = pd.DataFrame(data = a)
# ss.to_csv('result.csv', index = False)
test

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,2013,1.000000,0,1,0,0,0,300.000000,1,1960.0,3,142
1,2016,0.997268,0,1,0,0,0,300.000000,1,1960.0,3,142
2,2013,0.369863,0,1,1,1,1,790.000000,1,1960.0,0,142
3,2014,1.000000,0,1,0,0,0,1405.000000,1,2004.0,3,143
4,2016,1.000000,0,1,0,0,0,1405.000000,1,2004.0,3,143
...,...,...,...,...,...,...,...,...,...,...,...,...
3064,2015,1.000000,0,1,1,1,1,1666.790576,4,1900.0,0,337
3065,2012,1.000000,0,1,1,1,1,1666.790576,2,1948.0,0,337
3066,2012,1.000000,0,1,1,1,1,1666.790576,2,1993.0,0,337
3067,2013,1.000000,0,1,1,1,1,1666.790576,1,1800.0,0,337
3068,2012,1.000000,0,1,1,1,1,1666.790576,2,1950.0,0,337

In [82]:
result.to_csv('finalresult11.csv',index= False)

In [83]:
# go to dos
# change directory to access the project filaame (buidling insurance) then
# run this code ---  streamlit run the streamlit filename eg  building.py

In [ ]:
# import pandas as pd
# import streamlit as st
# import pickle

# filename = "Log Reg Building Insurance.sav"
# model = pickle.load(open(filename, 'rb')) #to load the pickled data


# go to dos
# change directory to access the project filaame (buidling insurance) then
# run theis code ---  streamlit run (spidey filename eg  building.py)

# st.title ('Building insurance app')
# st.subheader('This app takes in certain variable to enable prediction')

# # select box for categorical data impt
# # slider bar for continuous data input
# def user_imput(): ---createing a usrs fucntion
#     YearObservation = st.slider('what year was your buoding insured', 2012, 2016)
#     Insured_Period = st.slider('what is the duration of the insurance?',0, 10)
#     Residential = st.Selectbox('is the buidling residential or not hint: 1 for yes and 0 for no', option = [0,1], index = 0)
#     building_fenced = st.Selectbox('is the buidling denced or not', option = [0,1], index = 0)
#     settlement = st.Selectbox('is the area rural or urban', option = [0,1], index = 0)
#     Buidling_dimension =  st.slider('what is the dimension of your bulding', 1.0, 30000.0)
#     Building_Type = st.Selectbox('what is your building type', option = [0,1,2,3], index = 0)
#     Date_of_Occupancy = st.slider('Date of occupancy', 1545, 2016)
#     Geo_code = st.slider('Geographical code of the building?', 0, 2000)
#     #INDEX property in the selectbox is to determien what is diplayed among the option in the selectbox 0 for the first optio to be displayed
# #     create a diction for the data, the column can eb abything but the value MUST be exact with wat you created above
    
#     data = {'YearofObservation':YearObservation,
#             'Insurance  Period': Insured_Period,
#             'Redidential': Residential,
#             'Building Fence': building_fence,
#             'settlement': settlement,
#             'Budilng dimension': buidling_dimension,
#             'building type': building_Type,
#             'date of occ': Date_of_Occupancy,
#             'geo code': Geo_code
           
           
#            }
    
    
#     features = pd.Dataframe(data, index=[0])  #- convert the dictionary to dataframe
#     return features    #this will then return the dataframe features and not it will not be on the extreme ut under the 
#fucntion


# #pass the dataframe tp a variable and run the model on it
# df = user_imput()
# #prediction = model.prediction(df)


# # create a prediction function
# def prediction():
#     predict = model.prediction(df)
#     result = ''
#     if predict == 0:
#         result = 'Not Qualified'
#     else:
#         result= 'Qualified'
#     return result


# submit = st.button('Get prediction')
# result = prediction()
# st.success('Thank you for filling the form. you are {}'.format(result))


# image = image.open('filename.jpg')
# st.image(iamge, '')  #for import image

# # machinelearningnmystery---for problem solution
# #hamoye internship

# # there is a need to balance dataset SMOTE is use to downcast or upgrade dataset